* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
h1, h2 {
  margin: 0;
}
.unavailable {
  text-decoration: line-through;
  color: #808882;
}
.pricing {
  margin-top: 110px;
  width: 1246px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  align-items: center;
  margin: 0 auto;
}
.pricing__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 67.5px;
}
.pricing__text {
  font-size: 18px;
  line-height: 30.6px;
  font-weight: 300;
  width: 754px;
  text-align: center;
}
.pricing__tumbler {
  font-size: 17px;
  line-height: 16px;
  font-weight: 400;
}
.pricing__save {
  font-weight: 500;
  font-size: 16px;
  line-height: 14.4px;
}
.pricing__tumbler>img {
  width: 58px;
  height: 29px;
  transform: translateY(9px);
}
.pricing__save>img {
  width: 43px;
  height: 24px;
}
.pricing__bar>img {
  width: 1146px;
  height: 75px;
}
.plans {
  width: 1246px;
  height: 604px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  position: relative;
}
.plans__transformed {
  transform: translateY(4px);
}
.plans__left {
  position: absolute;
  top: 45%;
  left: -6%;
  z-index: 0;
}
.plans__right {
  position: absolute;
  top: 8%;
  left: 83%;
  z-index: 0;
}
.plans__wrapper {
  width: 100%;
  height: 185px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.plans__title {
  color: #808882;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}
.plans__price {
  font-weight: 600;
  font-size: 43px;
  line-height: 43px;
}
.plans__card1, .plans__card2, .plans__card3 {
  width: 360px;
  height: 604px;
  border-radius: 15px;
  border: 1px solid #C1C3C1;
  z-index: 1;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plans__card1:hover, .plans__card2:hover, .plans__card3:hover {
  box-shadow: 0 0 40px #ccc;
  border: 0;
  transition: .2s all;
}
.plans__group1 {
  width: 100%;
  height: 71px;
  border-top: 1px solid #C1C3C1;
  border-bottom: 1px solid #C1C3C1;
  padding: 7% 29px 0;
  margin-bottom: -1px;
}
.group__status {
  float: right;
}
.plans__buy {
  width: 239px;
  height: 60px;
  background-color: #FFF;
  border: 2px solid #FDDADA;
  border-radius: 6px;
  color: #F44545;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  margin-top: 10%;
}
.plans__buy:hover {
  color: #FFF;
  border: 2px solid #F55454;
  background-color: #F55454;
  transition: .2s all;
}
.solution__ask:hover {
  transition: .3s all;
  color: #282323;
}

.discover {
  height: 464px;
  width: 1203px;
  display: flex;
  margin: 110px 170px 210px 227px;
}

.discover__name {
  width: 524px;
  height: 136px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 67, 5px;
  margin-bottom: 20px;
  color: #021206;
}

.discover__description {
  width: 448px;
  height: 58px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 20px;
  color: #021206;
}

.discover__highlights {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.discover__img {
  height: 464px;
  width: 595px;
}

.discover__highlights {
  padding-inline-start: 24px;
}

.discover__highlights--points {
  margin: 20px 0 16px 11px;
  list-style-image: url("./assets/Group\ 9.svg");
  color: #021206;
}

.Serving-info {
  height: 1184px;
  width: 440px;
  display: flex;
  margin: 208px 286px 20px 130px;
}

.Serving-info__img {
  height: 440px;
  width: 591px;
}

.Serving-info__body {
  margin-top: 48px;
  margin-left: 94px;
  width: 499px;
  height: 345px;
}

.Serving-info__name {
  width: 499px;
  height: 136px;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.Serving-info__description {
  width: 480px;
  margin-bottom: 15px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #021206;
}

.Serving-info__highlight {
  width: 479px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #021206;
}